Adafruit-Blinka==8.50.0
adafruit-circuitpython-74hc595==1.4.5
adafruit-circuitpython-ads1x15==2.4.1
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-charlcd==3.4.12
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-mcp230xx==2.5.15
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
bleak==0.22.3
dbus-fast==2.24.4
pyftdi==0.56.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing_extensions==4.12.2
