<html>
    <body>
        <form action="/test" method="post">
            <input type="submit" name="test" value="test">
        </form>
        <form action="/power" method="post">
            <input type="submit" name="power" value="power">
        </form>
        <form action="/reset" method="post">
            <input type="submit" name="reset" value="reset">
        </form>
        <form action="/start" method="post">
            <input type="submit" name="start" value="start">
        </form>
        <form action="/stop" method="post">
            <input type="submit" name="stop" value="stop">
        </form>
        <form action = "/set-time" method="post">
            Enter time as HHMMSS:
            <input type="text" name="time"></input>
            <input type="submit" value="set time"></input>
        </form>
        <form action = "/cycle" method="post">
            Cycle starting at:
            <input type="text" name="startTime" value="start time"></input>
            <input type="text" name="maxTime" value="max time"></input>
            <input type="submit" value="start cycle"></input>
        </form>
    </body>
</html>
