html, body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: crimson;
    font-size:medium;
    
}

input {
    background-color: black;
    color: crimson;
    border: 1px;
    border-color: crimson;
    border-style: solid;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    margin-top: 6px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;

}

input[type=text] {
    width: 5em;
    text-align: right;
    font-style: italic;
}

input[type=submit] {
    width: 5em;
    text-align: center;
    background-color: crimson;
    color: black;
}

input[type=submit]:focus {
    background-color: black;
    color: crimson;
}

form {
    background-color: black;
}

.basic {
    display: inline;
}

#container {
    margin: auto;
    margin-top:50px;
    border: 1px;
    border-style: solid;
    width: 360;
    padding: 10px;
}

.section {
    margin: 20px;
}